*{
  font-family: sans-serif;
  color: #32302c;
  scroll-behavior: smooth;
}

header{
  height: 180px; 
  overflow: hidden;   
}

.container{
  padding: 60px;
  max-width:1440px;
  margin: auto;
  background-color: #FFF;
}

.eco-guide-title{
  max-width: 1000px;
  color:  #1C1C32;
  font-family: Moderat;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 74px;
}

.subtitle{
  max-width: 1000px;
  color: #1C1C32;
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  opacity: 0.6;
}

.startNow{
  display: inline-flex;
  height: 44px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 87px;
  background: #D1A94C;
  cursor: pointer;
}

.startNow:hover{
  background: #d1a94cd8;
}

.startNow p{
  color: #FFF;
  text-align: center;
  font-family: Moderat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  transition: color 0.3s ease;
}

.answerThese{
  max-width: 1000px;
  color: #1C1C32;
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  opacity: 0.6;
}

.question{
  max-width: 957px;
  color: #1C1C32;
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  opacity: 0.6;
}

.group{
  max-width: 146px;
  color: #1C1C32;
  text-align: left;
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  opacity: 0.6;
  padding-left: 50px;
}

.group2{
  max-width: 313px;
  color: #1C1C32;
  text-align: left;
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  opacity: 0.6;
  padding-left: 50px;
}

footer{
  max-width: 1200px;
  height: 600px;
  flex-shrink: 0;
  background: #1E2032;
  padding: 60px;
  margin: auto;
}

.footerFormSectionTitle{
  display: flex;
  width: 1087px;
  height: 41px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Moderat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.4px;
  margin-bottom: 20px;
  margin-top: 0;
}

.fSubtitle{
  color: #FFF;
  font-family: Moderat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.warning{
  max-width: 750px;
  color: #FFF;
  font-family: Moderat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  opacity: 0.6;
}

.answer-option:checked + .label {
    background-color: #cce5ff; 
    border-radius: 5px; 
    padding: 5px; 
}

.measuring{
    margin-top: 5px;
}

.hidden {
    display: none;
}

.fade {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.responseContainer{
    display: flex;
    width: 100%;
    background-color: red;
}


#questionsForm{
  width: 100%;
}

.questions {
    display: flex;
}

.questions td:first-child {
    flex: 0 0 85%;
    align-items: center;
}

.questions td:last-child {
    flex: 0 0 20%;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.containerChart {
  max-width: 1200px;
  margin: 0 auto;
  display: none;
  flex-wrap: wrap;
  gap: 40px;
}

.chartTitleSection{
  display: none;
  width: 100%;
  font-family: 'Moderat';
  font-weight: 500;
  font-size: 54px;
  line-height: 74px;
}

  
  .score-section {
    flex: 1;
    min-width: 300px;
    text-align: center;
  }
  
  .score-label {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
  }
  
  .interpretation-section {
    flex: 2;
    min-width: 300px;
  }
  

  
  .interpretation-block {
    margin-bottom: 30px;
  }
  
  .interpretation-block .title {
    margin-top: 70px;
    margin-left: 40px;
    max-width: 673px;
    height: 60px;
    opacity: 60%;
    font: "Moderat";
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #1C1C32;
  }
  
  .interpretation-block p {
    max-width: 633px;
    height: 120px;
    margin-top: 20px;
    margin-left: 40px;

    opacity: 60%;
    font: "Moderat";
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: #1C1C32;
  }

  .footerFormSection2{
    display: none;
  }

  .footerFormSection2 h3{
    font-family: 'Moderat';
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .footerFormSection2 p{
    font-family: 'Moderat';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .footerFormSection2 button{
    width: 270px;
    height: 44px;
    padding: 0px 30px;
    background-color: #D1A94C;
    font-family: 'Moderat';
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-radius: 37px;
    cursor: pointer;
  }
